
body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 18vh 82vh;
}

h1{
    font-size: 1.5em;
}

.sidebar{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    background-color: rgb(0, 113, 199);
    color: rgb(255, 255, 255);
}

.sidebar > .title{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.sidebar > .title > img{
    align-self: center;
}
.sidebar > .title > h1{
    margin: 0;
    font-size: 2em;
    align-self: center;
}

.sidebar > .main-links, .sidebar > .misc-links{
    padding: 30px;
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;
}


.clickable-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    align-items: center;
    
}

.clickable-container > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}



img{
    width: 50px;
    height: 50px; /* Ensures it has a visible size */
    background-color: lightgray; /* Placeholder background */
    display: inline-block; /* Keeps the block even if empty */
}

.header{
    display: grid;
    grid-template-columns: minmax(auto, 2fr) minmax(auto, 1fr);
    grid-template-rows: min-content min-content;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    gap: 15px;
}

.header > .search-container{
    display: grid;
    grid-template-columns: min-content 3fr;
    gap: 10px;
    align-items: center;
}

.header > .search-container > input{
    padding: 10px;
    border-radius: 30px;
    background-color: rgb(199, 199, 199);
    max-width: 500px;
    border: none;
}

.header > .profile-container{
    display: grid;
    grid-template-columns: minmax(10px, 300px) min-content min-content minmax(min-content, 120px);
    gap: 10px;
    align-items: center;
}

.profile-container > *:first-child {
    grid-column: 2; 
}


.header > .info-container{
    display: grid;
    grid-template-columns: min-content 3fr;
    grid-template-rows: min-content;
    gap: 10px;
}

.header > .info-container > img{
    grid-row: 1/3;
    align-self: center;
}

.header > .info-container > p{
    margin: 0;
    align-self: end;
}
.header > .info-container > h2{
    margin: 0;
    size: 15px;
    align-self: start;
}

.header > .buttons-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

.header > .buttons-container > button{
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #b50303;
    color: #fff;
    height: 40px;
    width: 120px;
}


/* .header > *{
    border: 1px solid #000;
} */



/* .sidebar > *{
    border: 1px solid #000;
} */

.main-content{
    display: grid;
    grid-template-columns: minmax(100px, 4fr) minmax(300px, 1fr);
    grid-template-rows: min-content min-content;
    gap: 20px; 
    padding: 20px;
    background-color: rgb(197, 195, 195);
}

.main-content h1{
    padding-left: 10px;
}

.main-content h2{
    font-size: 15px;
    margin: 0;
}

.main-content p{
    font-size: 12px;
}

.main-content > .project-container{
    grid-column: 1/2;
    grid-row: 1/span 2;
    
}

.main-content > .announcement-container{
    grid-column: 2/3;
    grid-row: 1;
}

.main-content > .trending-container{
    grid-column: 2/3;
    grid-row: 2;
}

.project-container > .content{
    display: grid;
    grid-template-columns: repeat(2, minmax(450px, 1fr));
    grid-template-rows: repeat(3 , 200px);
    gap: 20px;
}

.project-container > .content > .project{
    background-color: rgb(245, 244, 242);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    border-left: 10px solid #b50303;

    display: grid;
    grid-template-rows: min-content 3fr min-content;   
}

.project-container > .content > .project > .buttons{
    justify-self: end;
}


.announcement-container > .content{
    display: grid;
    gap: 10px;
    background-color: rgb(245, 244, 242);
    border-radius: 10px;
    padding: 20px;
}

.announcement-container > .content > .announcement > p{
    height: 30px; /* Adjust height as needed */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.announcement-container > .content > .announcement > h2{
    margin: 0;
}   

.announcement-container > .content > .announcement{
    border-bottom: 1px solid lightgray;
    
}

.announcement-container > .content > .announcement:last-child {
    border-bottom: none; /* Remove border from last item */
}



.trending-container > .content{
    display: grid;
    gap: 15px;
    background-color: rgb(245, 244, 242);
    border-radius: 10px;
    padding: 20px;
}


.trending-container > .content > .trending{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content min-content;
    align-items: center;
    column-gap: 10px;
}

.trending-container > .content > .trending > img{
    grid-row: 1/3;   
}

.trending-container > .content > .trending > h2{
    margin: 0;
}

.trending-container > .content > .trending > p{
    margin: 0;
}





